*.espressostorage
*.tsp
*.txt
config/console.php
config/db.php
config/main.php
config/params.php
console/*
/nbproject/*
assets/*
.project
.settings/*
controllers/TestController.php
models/Test.php
views/test/*
public/test
.idea/**
.buildpath
/index.php
uploads/*
